test
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.oxygemnxml/oxygen-log4j-patcher/pom.properties
target/classes/META-INF/maven/com.oxygemnxml/oxygen-log4j-patcher/pom.xml
target/test-classes/com/oxygenxml/patcher/log4j/PatcherTest.class
target/test-classes/com/oxygenxml/patcher/log4j/PatcherTest.class
